body {
    margin: 0;
}

.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;   /* Centering the container*/
    text-align: center; /* Centering the text */
    padding-top: 10px;
    transition: transform .5s;
}

.icon-cart img {
    width: 30px;
}

header {    /*Put the two elements at the same row*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart {
position: relative;
}

header .icon-cart span {
    display: flex;  /*Inline does not understand width and height*/
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.listProduct .item {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

body.showCart .cartTab {
    inset: 0 0 0 auto;
}

body.showCart .container {
    transform: translateX(-250px); /*Move when cartTab appears*/
}

.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;    /*To overlap the web content*/
    inset: 0 -400px 0 auto;  /*Top Right[hided] Bottom Left*/
    display: grid;
    grid-template-rows: 70px 1fr 70px;  /*Divide to 3 rows*/
    transition: .5s;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
    background-color: #e8bc0e;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close {
    background-color: #eee;
}

.cartTab .listCart .item img {
    width: 100%;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

@media screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);  /* Three columns if iPad */
    }
}

@media screen and (max-width: 768) {    /* Mobile */
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}
