.actsContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.itemDiv {
    width: 80%;
    background-color: rgb(224, 191, 191);
    border-radius: 20px;
    padding: 10px;
}

.itemsTable td {
    padding: 10px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}